/* General styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden; 
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F9FBFC;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    position: relative;
    line-height: 1.6;
    text-align: center;
    min-height: 100vh; 
    overflow-x: hidden; 
}

h1, h2, h3 {
    margin: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondary-container {
    padding-bottom: 3rem; 
}

/* Header */
header {
    padding: .5rem 0;
    color: #FAC650;
    background-color: #000000;
    font-size: 0.8rem;
}

/*Scoreboard */
.scoreboard {
    width: 100%;
    padding: .5rem 0;
    margin: 0;
}

.round-info {
    margin-bottom: .5rem;
    font-size: 1rem;
}

.round-message {
    font-size: 0.9rem;
}

.replay-button {
    display: none;
    padding: 0.5rem 1rem;
    border: 1px solid #959C9C;
    border-radius: 6px;
    background-color: #ffffff;
    margin-top: 1rem;
}

a.replay-button {
    text-decoration: none;
    color: #FAC650;
    font-size: 1.5rem;
    font-weight: 700;
}

/* Score display container */
.score-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    padding: 10px;
    margin: 0 auto;
}

.score-box {
    width: 170px;
}

.sign,
.far {
    font-size: 4rem;
}

.score {
    margin: 0.8rem 0;
    font-weight: bold;
    font-size: 1.1rem;
}

/* Player option selection zone */
#player-input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    gap: 1.5rem;
}

.card {
    width: 6rem;
    height: 6rem;
    border: 1px solid #959C9C;
    border-radius: 6px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.card:hover {
    scale: 1.05;
}

i {
    padding-top: 0.2rem;
}

/* Footer */
.attribution {
    text-align: center;
    width: 100%;
    padding-bottom: 0.3rem;
    font-size: 0.7rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.attribution a {
    margin-left: 0.3rem;
}
/* Media queries */
@media only screen and (min-width: 640px){
    header {
        padding: 3rem;
    }

    h1 {
        font-size: 2rem;
    }

    .scoreboard {
        padding: 2rem 0;
    }

    .round-info {
        margin-bottom: .5rem;
        font-size: 2rem;
    }

    .round-message {
        font-size: 1.25rem;
    }

    .sign,
    .far {
    font-size: 5rem;
    }

    .score {
        font-weight: bold;
        font-size: 1.25rem;
    }

    #player-input{
        margin-top: 1rem;
        gap: 2rem;
    }

    .card {
        width: 9rem;
        height: 9rem;
    }

    i {
        padding-top: .5rem;
    }
}